body {
    max-height: 100vh;
    max-width: 80vh;
}

button {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 20px;
 
}

.all-elements {
    max-width: 40vh;
    position: fixed;
    top: 60%;
    left: 50%;
}


.author {
    text-align: right;
    text-decoration: double;
}

.quote {
    font-style: italic;
}

button:hover {
    color: orange;
}